<!--Telling the browser what type of html it is-->
<!DOCTYPE html>
<!--Creates the html and header-->
<html>
<head>
    <!-- Common head tags -->
    {% include 'partials/head-assets.html' %}

    <!--Makes the name of the web page-->
    <title>Gameplay</title>
    
    <!-- Colours the button after clicked -->
    <style>     
        /* Makes the square clicked red if the response returns with hit */
        .game-board .hit {
            background-color: red;
        }
        /* Makes the square clicked black if the response returns with sunk */
        .game-board .sunk {
            background-color: black;
        }
        /* Makes the square clicked green if the response returns with miss */
        .game-board .miss {
            background-color: green;
        }
    </style>
<!--Closes the header-->
</head>

<!--Opens the body-->
<body>

    <div class="container"> <!--How the styles start working-->
        <!--Creates a button that the user can click that will make the function on javascript run-->
        <button onclick="openFullscreen()"> <!--Is to make the maximise icon-->
            <i class="bi bi-arrows-fullscreen"></i>
        </button>
        <!--Creates a button that the user can click that will make the function on javascript run-->
        <button onclick="exitFullscreen()"> <!--Is to make the minimise icon-->
            <i class="bi bi-fullscreen-exit"></i>
        </button>

        <!--Creates spaces to make it easier on the eyes to see what is going on-->
        <br>
        <br>
        
        <!--A form that makes you go all the way back to the home screen by pressing quit-->
        <form action="/" method="post">

            <input type="hidden" name="gameId" value="{{gameId}}"/>
            <button type="submit">QUIT :(</button>

        </form>
        <h1 style="color:chocolate;">This is where you will play!</h1>
        <!-- These messages will only appear once the user or robot has won -->
        <h2 class="win-message-user" style="display: none; color: lime;">You Win</h2>
        <h2 class="win-message-opponent" style="display: none; color: lime;">
            It's statistically impossible to find this message unless you tried to fail, good job!</h2>

        <div class="row">   <!--Making a bootstrap row for laying out-->
            <div class="col-3"></div>
            <div class="col-6">    <!-- To make the formatting correct for the grid -->
                <h2>Opponent's Board</h2>
                <div class="game-board opponent">    <!--So the javascript find this table-->
                    <table class="table">   <!--Making a bootstrap table that will hold the board-->
                    </table>
                </div>
            </div>
            <div class="col-3"></div>
        </div>
        <div class="row">   <!--Same table but for my ships instead-->
            <div class="col-3"></div>
            <div class="col-6">    <!-- To make the formatting correct for the grid -->
                <h2>My Board</h2>
                <div class="game-board user">
                    <table class="table"></table>
                </div>            
            </div>
            <div class="col-3"></div>
        </div>
    </div>

    <script>
        const GRID_SIZE = Number("{{ gridSize }}");   //Passing the python variable gridSize to JavaScript
        const GAME_ID = "{{ gameId }}";     //Passing the python varibale gameId to JavaScript
    </script>   

    <!-- Common scripts -->
    {% include 'partials/scripts.html' %}

<!--Some more closing tags-->
</body>
</html>
