<!--Telling the browser what type of html it is-->
<!DOCTYPE html>
<!--Creates the html (page)-->
<html>
<!--Creates the header-->
<head>
    <!--Used to make sure special character or accented letters won't appear incorrectly-->
    <meta charset="UTF-8">
    <!--Makes the name of the web page-->
    <title>Battleships Home Screen</title>
    <!--So the font I want to use can be accessed by the web browser-->
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">

<!--Closes the header-->
</head>
<!--Opens the body and makes it a colour-->
<body style="background-color: cornflowerblue;">
    <!--Creates, colours,  styles and closes the title-->
    <h1 style="color: chartreuse; font-family: 'Black Ops One', Arial, sans-serif;">Battleships, yay</h1>

    <!--Creates a multiple choice drop down tab to select which map you want, and can be found in the code with environment-->
    <form>
        <input type="submit" formaction="/multi-player" value="Multi Player" disabled="disabled"/>
        <input type="submit" formaction="/single-player" value="Single Player"/>
        <select name="environment">
            <option value="sea">Sea</option>
            <option value="sea">Forest</option>
            <option value="sea">Desert</option>
        </select>
    </form>

<!--Closing tags-->
</body>
</html>
