<!--Telling the browser what type of html it is-->
<!DOCTYPE html>
<!--Creates the html (page)-->
<html>
<!--Creates the header-->
<head>
    <!-- Common head tags -->
    {% include 'partials/head-assets.html' %}
    
    <!--Makes the name of the web page-->
    <title>Battle Matrix Home Screen</title>

    <!-- Link to the image for the home screen -->
    <style>
        body{
            background-image: url("{{ url_for('static', filename='img/homescreens/sea.png') }}");
        }
    </style>

<!--Closes the header-->
</head>
<!--Opens the body and makes it a colour-->
<body>
    <!--Creates, colours,  styles and closes the title-->
    <h1 style="color: chartreuse; text-align: center; font-size: 500%;">Battle Matrix</h1>

    <!--Creates a multiple choice drop down tab to select which map you want
    and can be found in the code with environment-->
    <form>
        <input type="submit" formaction="/multi-player" value="Multi Player" disabled="disabled"/>
        <input type="submit" formaction="/single-player" value="Single Player"/>
        <select name="environment">
            <option value="sea">Sea</option>
            <option value="sea">Forest</option>
            <option value="sea">Desert</option>
        </select>
    </form>

<!--Closing tags-->
</body>
</html>
