<!--Telling the browser what type of html it is-->
<!DOCTYPE html>
<!--Creates the html and header-->
<html>
<head>
    <!--Used to make sure special character or accented letters won't appear incorrectly-->
    <meta charset="UTF-8">
    <!--Makes the name of the web page-->
    <title>Setup</title>
    <!--So the font I want to use can be accessed by the web browser-->
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">

<!--Closes the header-->
</head>

<!--Opens body-->
<body>

    <!--Creates a message with a specific font and clour as a heading-->
    <h1 style="color: khaki; font-family: 'Black Ops One', Arial, sans-serif;">You made it to setup!</h1>

    <!--Creating a link back to the previous page-->
    <a href="/{{previousPage}}">back</a>

    <!--Passes the information on which map and what difficulty of robot you will be playing against-->
    <form action="/gameplay" method="post">
        
        <input type="hidden" name="difficulty" value="{{difficulty}}"/>
        <input type="hidden" name="environment" value="{{environment}}"/>
        <button type="submit">PLAY!!!!</button>

    <!--Closes the form, body and html-->
    </form>

</body>
</html>
