<!--Telling the browser what type of html it is-->
<!DOCTYPE html>
<!--Creates the html and header-->
<html>
<head>
    <!--Used to make sure special character or accented letters won't appear incorrectly-->
    <meta charset="UTF-8">
    <!--Makes the name of the web page-->
    <title>Single Player</title>
    <!--So the font I want to use can be accessed by the web browser-->
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">

<!--Closes the header-->
</head>

<!--Opens the body-->
<body>
    
    <!--form for going back to the home screen, which is why the method for the '/' route required both post and get-->
    <form action="/" method="post">

        <button type="submit">Home</button>

    <!--Closing tags-->
    </form>

    <!--form for submiting future data to the setup-->
    <form action="/setup" method="post">
        
        <!--Tells my program which page I came from-->
        <input type="hidden" name="previous-page" value="single-player"/>
        <input type="hidden" name="robot" value="easy"/>
        <input type="hidden" name="environment" value="{{environment}}"/>
        
        <!--Submit button to take you to the next page (the setup html)-->
        <button type="submit">Easy Robot</button>
    
    <!--Closing tag-->
    </form>

    <!--form for submiting future data to the setup-->
    <form action="/setup" method="post">
        
        <!--Tells my program which page I came from-->
        <input type="hidden" name="previous-page" value="single-player"/>
        <input type="hidden" name="robot" value="easy"/>
        <input type="hidden" name="environment" value="{{environment}}"/>
        
        <!--Submit button to take you to the next page (the setup html)-->
        <button type="submit">Medium Robot</button>
    
    <!--Closing tag-->
    </form>

    <!--form for submiting future data to the setup-->
    <form action="/setup" method="post">
        
        <!--Tells my program which page I came from-->
        <input type="hidden" name="previous-page" value="single-player"/>
        <input type="hidden" name="robot" value="easy"/>
        <input type="hidden" name="environment" value="{{environment}}"/>
        
        <!--Submit button to take you to the next page (the setup html)-->
        <button type="submit">Hard Robot</button>
    
    <!--Closing tag-->
    </form>
    
</body>
</html>
