<!--Used to make sure special character or accented letters won't appear incorrectly-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">        <!--Makes it mobile friendly-->

<!--So the font I want to use can be accessed by the web browser-->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap">
<!--Icons that can be used (like settings cog)-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css"> 
<!--Styles that make formatting easier and checks that it's legitamite-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
    integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">  
<!-- The library to enable things to be dragged -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-ui@1.14.1/themes/base/autocomplete.min.css">   
<!-- So that the grid styles will have the same format -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/battlematrix.css') }}" />    
